.minions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.minions-count-group {
  display: flex;
  align-items: center;
}
.user-name {
  max-width: 600px;
  font-size: 24px;
  font-weight: bold;
  color: #FFD700; /* Golden yellow color */
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 2px solid #FFD700; /* Add a golden yellow border */
  border-radius: 8px; /* Rounded corners for a softer look */
  padding: 4px 8px; /* Add some padding for spacing */
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5); /* Subtle glow effect */
  margin-bottom: 5px;
}



%minions-element {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.minions-count {
  @extend %minions-element;
  color: #ffffff;
  background: linear-gradient(135deg, rgb(255, 255, 255), #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3);

  &.second {
    margin-right: 10px;
  }
}


.leaderBoard-button {
  @extend %minions-element;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}


.minions-button {
  @extend %minions-element;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 10px;

  &:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #ff0057, 0 0 20px #ff0057, 0 0 30px #ff0057, 0 0 40px #ff0057, 0 0 50px #ff0057, 0 0 60px #ff0057, 0 0 70px #ff0057;
  }
  to {
    text-shadow: 0 0 20px #6a00ff, 0 0 30px #6a00ff, 0 0 40px #6a00ff, 0 0 50px #6a00ff, 0 0 60px #6a00ff, 0 0 70px #6a00ff, 0 0 80px #6a00ff;
  }
}
.row {
  display: flex;
}

.cell {
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  background-color: #fff;  // White background for cells
  position: relative;  // Ensure the box-shadow stays within the cell

  // Subtle glow effect
  box-shadow:
    0 0 2px rgba(255, 255, 255, 0.3),
    0 0 5px rgba(0, 128, 255, 0.3),
    0 0 10px rgba(0, 128, 255, 0.3);  // Reduced glow layers

  // Optional: Change border color to match glow
  border-color: rgba(0, 128, 255, 0.2);
}


.snake {
  background-color: #243127; /* Navy blue for snake cells */
  color: #fff; /* Ensure the text is visible on navy background */
}

.food {
  background-color: red; /* Red background for food cells */
  color: #fff; /* Ensure the text is visible on red background */
}

.snake-img,
.food-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Make sure the images cover the entire cell */
}


/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay color and transparency */
  z-index: 99; /* Ensure overlay appears below the modal */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9; /* Light gray modal background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Slightly raised shadow */
  z-index: 100; /* Ensure modal appears above other elements */
  max-width: 400px; /* Adjust the width as needed */
}

.modal-content {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.primary {
  background-color: #007bff; /* Blue button color */
  color: #fff;
}

.secondary {
  background-color: #f8f9fa; /* Light gray button color */
  color: #333;
}
